workflows/templates/workflow-template.json
{
  "name": "Workflow Template",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "template-start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Template workflow - customize this code\n// This is a basic template for creating new workflows\n\nconst inputData = $input.first().json;\n\n// Add your processing logic here\nconst processedData = {\n  message: 'Template workflow executed successfully',\n  timestamp: new Date().toISOString(),\n  inputReceived: inputData || 'No input data'\n};\n\nreturn processedData;"
      },
      "id": "template-process-node",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "=Template workflow completed: {{ $json.message }}"
      },
      "id": "template-end-node",
      "name": "Log Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        240
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "template",
      "name": "Template"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}