workflows/basic/email-notification-workflow.json
{
  "name": "Email Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "https://api.github.com/repos/microsoft/vscode/issues",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "state",
                "value": "open"
              },
              {
                "name": "per_page",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Get GitHub Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process GitHub issues data\nconst issues = $input.first().json;\n\nif (!Array.isArray(issues) || issues.length === 0) {\n  return { message: 'No new issues found', count: 0 };\n}\n\nconst processedIssues = issues.map(issue => ({\n  title: issue.title,\n  number: issue.number,\n  url: issue.html_url,\n  author: issue.user.login,\n  createdAt: new Date(issue.created_at).toLocaleDateString()\n}));\n\nreturn {\n  message: `Found ${issues.length} open issues`,\n  count: issues.length,\n  issues: processedIssues,\n  reportDate: new Date().toLocaleDateString()\n};"
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Process Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Check If Issues Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        240
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@company.com",
        "toEmail": "admin@company.com",
        "subject": "=Daily GitHub Issues Report - {{ $json.reportDate }}",
        "message": "=Hi there!\\n\\nHere's your daily GitHub issues report:\\n\\n{{ $json.message }}\\n\\nIssues:\\n{{#each $json.issues}}\\n- #{{this.number}}: {{this.title}} (by @{{this.author}})\\n  URL: {{this.url}}\\n  Created: {{this.createdAt}}\\n\\n{{/each}}\\n\\nBest regards,\\nN8N Automation"
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1420,
        160
      ]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "No new issues found - skipping email notification"
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Log No Issues",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        320
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get GitHub Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Issues": {
      "main": [
        [
          {
            "node": "Process Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Issues": {
      "main": [
        [
          {
            "node": "Check If Issues Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Issues Exist": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "email-automation",
      "name": "Email Automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}